package player

import "github.com/gueronlj/gowolf/view/layout"

templ PlayerView(name string) {
	//this will render contents as chikldren of layout
	@layout.Base() {
		<div>Hello, { name }</div>
	} 
}